<h1>All Shelters</h1>

<%= button_to 'New Shelter', "/shelters/new", method: :get %>


<% @shelters.each do |shelter| %>
  <section id='shelter-<%=shelter.id %>'>
    <h2><%= shelter.name %></h2>
    <%= link_to "Update Info", "/shelters/#{shelter.id}/edit" %>
  </section>
<% end %>
